@font-face {
	font-family: bold;
	src: url("fonts/bold.woff");
}

* {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

title {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: bold;
}

body {
	color: #596666;
	font-family: Verdana;
	font-size: 1rem;
    text-align: center;
	background-color: #171717;
}

main {
	max-width: 800px;
	margin: auto;
	background-color: #10212b;
}

main span.egg {
	display: block;
	margin: 1rem 0 0 1rem;
}
main span.egg img {
	width: 5rem;
	opacity: 0.7;
}

/** page title **/
header h1 {
	text-align: center;
	color: #bed786;
	font-size: 7rem;
	margin: 2rem 0rem;
}

/** navigation **/
div.nav_wrapper {
	flex-direction: row;
}

a {
	text-decoration: none;
}

div.nav_wrapper button {
	font-family: bold;
	font-size: 1rem;
	border-radius: 0.3rem;
	margin-bottom: 1rem;
	background-color: #eba254;
	border: none;
}
div.nav_wrapper button:hover {
	cursor: pointer;
	background-color: #f2c27b;
}
div.nav_wrapper button.sp {
	margin-right: 0.5rem;
}
/* */

/** article **/
article section.about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;

	width: 60%;
	max-width: 100%;
	padding: 2rem;
	border: 0.2rem solid #eba254;
	border-radius: 1rem;
}

section.about img {
	width: 50%;
	border-radius: 1rem;
}

section.about p {
	font-size: 0.8rem;
	width: 50%;
}

article section.technologies.technologies.technologies.technologies.technologies {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	text-align: left;
	padding: 2rem;
}

section.technologies p {
	font-size: 0.8rem;
	width: 100% !important;
}
/* */


/** footer **/
footer {
	width: 60%;
	align-self: center;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
footer section.git {
	height: 7rem;
	align-items: end;
	text-align: end;
	padding-right: 1rem;
	font-size: 0.7rem;
	opacity: 0.8;
}

footer section.linked {
	text-align: start;
	padding-left: 1rem;
	border-left: 0.15rem solid #bed786;
	opacity: 0.8;
	font-size: 0.7rem;
}
section.linked p {
	margin: 0;
}

footer button {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 6.5rem;
	background-color: transparent;
	font-family: bold;
	font-size: 1rem;
	border-radius: 0.3rem;
	border-color: #506e68;
	color:  #506e68;
}
footer button:hover {
	cursor: pointer;
	background-color: #bed786;
}
footer button img.git_icon {
	width: 1rem;
	height: 1rem;
	margin-right: 0.3rem;
	opacity: 0.8;
}

footer section.linked button img {
	border-radius: 5px;
}
/* */

@media (max-width:820px) {
	main {
		width: 95%;
	}

}